In [5]:
# 튜플은 어떻게 만들까? 
t1 = ()
t2 = (1, ) 
t3 = (1, 2, 3) 
t4 = 1, 2, 3
t5 = ("a", "b", ("ab", "cd"))

a = list()
b = tuple()
# a = 1,
# b = 2 
# c = [1, 2, 3]
# d = (1, 2)
b

()

In [ ]:
t1 = (1, 2, "a", "b")

# 튜플 요소값을 삭제하려 할때 -> 지울 수 없음
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
t1 = (1, 2, "a", "b")

# 튜플 요소값을 변경하려 할때 -> 변경할 수 없음
t1[1] = 4

TypeError: 'tuple' object does not support item assignment

In [10]:
# 인덱싱 하기 
t1 = (1, 2, "a", "b")
t1[2]

'a'

In [11]:
# 슬라이싱하기 
t1 = (1, 2, "a", "b")
t1[2:4]

('a', 'b')

In [12]:
# 튜플 더하기
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [13]:
# 튜플 곱하기
t2 = (3, 4)
t2 * 3

(3, 4, 3, 4, 3, 4)

In [14]:
# 튜플 길이 구하기
t1 = (1, 2, "a", "b")
len(t1)

4